ul {
	margin: 0px;
	padding: 0px;
}

#phone {
	position: absolute;
	z-index: 1;
	background: url(../../../../public/images/app/iphone/iphone.png) no-repeat;
	height: 500px;
	width: 500px;
	-moz-user-select:-moz-none; 
	-moz-user-select:none; 
	-o-user-select:none; 
	-khtml-user-select:none; 
	-webkit-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
	cursor: pointer;
}

#company-name {
	position: relative;
	width: 142px;
	left: 75px;
	padding: 10px 10px;
	top: 70px;
	background-color: #f2c337;
	color: black;
	z-index: 100;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
}

#content {
	position: relative;
	width: 142px;
	left: 75px;
	padding: 0px 10px;
	height: 200px;
	top: 70px;
	color: black;
	z-index: 100;
	font-weight: bolder;
	font-size: 12px;
	text-align: justify;
	overflow: auto;
	

}

.content-info {
	height: auto;
}
#phone-menu {
	position: absolute;
	left: 75px;
	z-index: 1000;
	background-color: green;
	width: 162px;
	top: 70px;
}

#menu-button {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: orange;
	z-index: 2000;
	right: 0px;
	top: 0px;
}

#phone-menu > ul > li {
	
}

#phone-menu > ul {
	
	list-style: none;
	width: 180px;
	text-transform: uppercase;
}

.hide {
	display: none;
}

#vip-logo {
	width: 162px;
}

.event-image {
	width: 50px;

}
