/*** NAVBAR FOR USERS ***/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
  width:320px;
  padding: 15px;
  padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
  display: table;
  content: "";
  line-height: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
}
.navbar-footer
{
  background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

#show-admin-menu {
  margin: 10px 0px;
}

/*** HomePage ***/

#custom_carousel .item {
  color:#000;
  background-color:#eee;
  padding:20px 0;
}

#custom_carousel .controls{
  overflow-x: auto;
  overflow-y: hidden;
  padding:0;
  margin:0;
  white-space: nowrap;
  text-align: center;
  position: relative;
  background:#ddd
}
#custom_carousel .controls li {
  display: table-cell;
  width: 1%;
  max-width:90px
}
#custom_carousel .controls li.active {
  background-color:#eee;
  border-top:3px solid orange;
}
#custom_carousel .controls a small {
  overflow:hidden;
  display:block;
  font-size:10px;
  margin-top:5px;
  font-weight:bold
}

/*** General ***/
.hide {
  display: none;
}

.page-header{
  text-align: center;
}

//#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
//#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 45px; width: 100%; }
//#sortable li span { position: absolute; margin-left: -1.3em; }

.clear {
  clear:both;
}

/*** Company ***/
.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

#modules-pages-module {
  #sortable { list-style-type: none; margin:0px; padding: 0px;}

  .edit-page-header, .edit-page-header:focus {
    color: white;
    background: #9954bb;
    outline: none;
    border: none;
    width: 100%;
  }

  .edit-page-area, .edit-page-area:focus {
    color: black;
    background: white;
    outline: none;
    border: none;
    width: 100%;
    resize: vertical;
  }

  input::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
    font-weight: bold;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    font-weight: bold;
    opacity:  1;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    font-weight: bold;
    opacity:  1;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
    font-weight: bold;
  }
}


/*** Payment ***/

#payment-view {

  .media-body {
    p {
      display: inline;
    }

    .text-right {
      float: right;
    }

    .text-left {
      float: left;
    }
  }
  .price {
    font-size: 4em;
  }

  .price-cents {
    vertical-align: super;
    font-size: 50%;
  }

  .price-month {
    font-size: 35%;
    font-style: italic;
  }
  .panel {
    -webkit-transition-property : scale;
    -webkit-transition-duration : 0.2s;
    -webkit-transition-timing-function : ease-in-out;
    -moz-transition : all 0.2s ease-in-out;
  }

  .panel-plan:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
}