body {
  padding-top: 70px;
}
.slide-image {
  width: 100%;
}
.carousel-holder {
  margin-bottom: 30px;
}
.carousel-control,
.item {
  border-radius: 4px;
}
.caption {
  height: 130px;
  overflow: hidden;
}
.caption h4 {
  white-space: nowrap;
}
.thumbnail img {
  width: 100%;
}
.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
footer {
  margin: 50px 0;
}
