* {
  margin: 0px;
}
#theme-content {
  margin: 0 auto;
}
#theme-content h1 {
  margin: 0px;
  padding: 0px;
}
#theme-content p {
  margin: 0px;
  padding: 0px;
}
#screener {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(116,130,140,0.8);
  z-index: 5000;
  width: 100%;
  height: 100%;
}
#screener > #loading {
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  top: 300px;
  text-align: center;
}
.color-picker-addon {
  background: #ffffff;
}
.theme-block,
.theme-save {
  display: none;
}
.sidebar-item {
  cursor: pointer;
}
#iphone {
  background: url(../../images/phones/iphone4.png);
  width: 271px;
  height: 515px;
  position: relative;
  z-index: 1000;
}
#iphone #theme-content {
  position: absolute;
  top: 92px;
  left: 28px;
  width: 223px;
  height: 335px;
}
